* {
	margin: 0;
	padding: 0;
}

body {
	background: #edf1ff;
	overflow-x: hidden;
}

.q {
	width: 100%;
}

.header-q {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	align-items: center;
}

.container {
	width: 1020px;
	margin: 10px auto 0px auto;
}

.caption {
	font-size: 23px;
	font-family: Verdana;
	font-weight: bold;
	color: #5f18ff;
	margin-left: 15px;
}

.transition {
	margin-left: 36.5%;
}

.screen-image {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: center;
}

.line {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
}

.line-change {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
}

.text {
	font-family: Verdana;
	font-size: 16px;
	color: #666666;
	margin-left: 15px;
}

.desc {
	font-family: Verdana;
	font-size: 13px;
	color: #666666;
	margin-left: 15px;
	width: 175px;
	margin-top: -5px;
}

.description {
	margin-top: 35px;
}

.blocks:last-child {
	margin-left: 22px;
}

.part-block:last-child {
	margin-top: 18px;
}

.block-text-left {
	margin-left: 80px;
}

.block-img-left {
	margin-left: 0;
}

.block-text-right {
	margin-left: 0;
}

.block-img-right {
	margin-left: 80px;
}

.ads {
	margin: 0;
	margin-top: 15px;
	margin-bottom: -15px;
	text-align: center;
}

.top {
	margin-top: 25px;
}

.ads_plus {
	text-align: center;
	margin: 200px 0 120px 0;
}

.balls {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: center;
	margin-left: -200px;
}

.ball {
	display: none;
	margin: 0 7.5px;
}

.b1 {
	margin-top: -50px;
}

.b2 {
	margin-top: -25px;
}

.line-img {
	position: absolute;
	right: 5%;
	top: 165px;
	z-index: -1;
}

@media screen and (max-width: 1200px) {
	.line-img {
		right: 0%;
	}
}

@media screen and (max-width: 1100px) {
	.line-img {
		right: -5%;
	}
}

.rel {
	position: relative;
}

.center-text {
	text-align: center;
	margin-left: -15px;
}

.bottom-t {
	margin-bottom: 100px;
}

.mt {
	margin-bottom: -100px;
}

.ac {
	align-items: center;
}

.main-img {
	width: 90%;
	margin: 25px 5%;
}

.block-img-right-hidden {
	display: none;
}

.rotated {
	transform: rotate(80deg);
}

@media screen and (max-width: 1000px) {
	.main-container {
		min-width: 200px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.container {
		margin: 0;
		width: 90%;
	}
	.img-res {
		width: 365px;
	}
	.transition {
		display: none;
	}
	.line-change {
		flex-direction: column;
		margin-left: 0;
	}
	.line-img {
		display: none;
	}
	.blocks {
		margin-left: 0 !important; 
	}
	.part-block {
		margin-top: 0 !important;
	}
	.block-img-left {
		margin: 0 auto;
	}
	.block-text-left {
		margin: 25px auto;
	}
	.block-img-right {
		display: none;
	}
	.block-text-right {
		margin: 25px auto;
	}
	.text {
		width: 300px;
		margin: 0 auto;
	}
	.block-img-right-hidden {
		display: block;
		margin: 0 auto;
	}
	.ads_plus {
		margin: 25px 0;
	}
	.balls {
		margin-left: 50px !important;
	}
	.ball {
		text-align: center;
		display: block;
	}
	.b1 {
		margin-top: 0;
	}
	.b2 {
		margin-top: 0;
	}
	.header-q {
		display: flex;
		margin: 0 auto;
		width: 400px;
	}
	.imgw {
		margin-left: 15px;
	}
}

@media screen and (max-width: 800px) {
	.balls {
		display: flex; 
		display: -moz-box; 
		display: -ms-flexbox; 
		display: -webkit-box; 
		display: -webkit-flex;
		flex-direction: column;
		align-items: center;
		margin-left: 0 !important;
	}
	.ball {
		margin: 0;
		width: 225px;
		margin-top: 35px;
	}
	.center-text {
		margin-left: -30px;
	}
	.text {
		font-size: 13px;
		margin-left: 15px !important;
	}
}

@media screen and (max-width: 500px) {
	.block-img-left {
		margin-left: 0%; 
	}
	.block-text-left {
		margin: 25px 0 25px 0;
		margin-left: 0%; 
	}
	.block-text-right {
		margin: 25px 0 25px 0;
		margin-left: 0%; 
	}
	.text {
		width: 300px;
		margin-left: 0%;
	}
	.block-img-right-hidden {
		display: block;
		margin-left: 0%;
	}
	.header-q {
		margin-left: -15px;
	}
	.text {
		width: auto;
	}
	.caption {
		font-size: 20px;
	}
	.bottom-t {
		margin-left: -1%;
	}
	.center-text {
		margin-left: 15px;
	}
	.container {
		width: 90%;
		margin-right: -2%;
	}
	.img-res {
		width: 100%;
	}
	.imgw {
		margin-left: 20px;
	}
}