body {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

@font-face {
	font-family: 'Lato-Light';
	src: url(fonts/Lato-Light.ttf);
}

@font-face {
	font-family: 'Lato';
	src: url(fonts/Lato-Regular.ttf);
}

@font-face {
	font-family: 'Lato-Bold';
	src: url(fonts/Lato-Bold.ttf);
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

a {
	color: #fff;
}

.added {
	display: inline-block;
}

.line-block {
	margin-left: 25px;
}

.aimstock-main {
	width: 100%;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: center;
	background: url(img/bgs/china.png);
	background-size: cover;
	padding-top: 25px;
	padding-bottom: 25px;
}

.aimstock {
	width: 1200px;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.aimstock-name {
	font-size: 49px;
	font-weight: bold;
	color: #181818;
	margin-bottom: 25px;
}

.aimstock-text {
	font-size: 22px;
	font-weight: bold;
	color: #000;
}

.change-color1 {
	color: #197b30;
}

.aimstock-blocks {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.aimstock-item {
	width: 350px;
	margin-top: 50px;
}

.aimstock-item img {
	width: 200px;
}

.aimstock-cap {
	font-size: 17px;
	font-weight: bold;
	margin-top: 25px;
}

.aimstock-desc {
	font-size: 16px;
	margin-top: 15px;
	line-height: 1.4;
}

.catalog-main {
	width: 100%;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: center;
	padding-top: 25px;
}

.catalog {
	width: 1200px;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.catalog-name {
	font-size: 49px;
	font-weight: bold;
	color: #181818;
	margin-bottom: 10px;
}

.catalog-text {
	font-size: 22px;
	font-weight: bold;
	color: #000;
}

.catalog-blocks {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.get-more {
	color: #427fc1;
	text-decoration: underline;
	padding: 10px 0;
}

.catalog-item {
	position: relative;
	width: 275px;
	margin-top: 50px;
	transition: 0.5s;
	border-radius: 7px;
	-o-border-radius: 7px;
    -ms-border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
	transition: 0.25s;
	cursor: pointer;
}

.catalog-item:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.catalog-item:hover .order-block {
	opacity: 1;
	bottom: -90px;
}

.order-block {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px;
	background: #f5f6ef;
	border-radius: 0 0 7px 7px;
	-o-border-radius: 0 0 7px 7px;
    -ms-border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    -webkit-border-radius: 0 0 7px 7px;
	padding-top: 15px;
	opacity: 0;
	transition: 0.25s;
	-o-transition: 0.25s;
    -ms-transition: 0.25s;
    -moz-transition: 0.25s;
    -webkit-transition: 0.25s;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -ms-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 10;
}

.order {
	background: linear-gradient(to top, #ef9d2b, #f52620);
    -o-background: linear-gradient(to top, #ef9d2b, #f52620);
    -webkit-background: linear-gradient(to top, #ef9d2b, #f52620);
	color: #fff;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
	-o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	cursor: pointer;
	width: 75%;
	margin: 0 auto;
}

.catalog-item img {
	width: 200px;
}

.catalog-cap {
	font-size: 17px;
	margin-top: 25px;
}

.catalog-price {
	font-size: 22px;
	margin-top: 15px;
	line-height: 1.4;
	font-weight: bold;
	padding-bottom: 15px;
	text-align: center;
}

.header-main {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #2a2a2a;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: center;
	height: 50px;
	transition: 1s;
	-o-transition: 1s;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
	z-index: 5;
}

.header {
	width: 1200px;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: space-between;
}

.header-item {
	font-size: 18px;
	line-height: 50px;
	color: #fff;
	font-weight: lighter;
	cursor: pointer;
}

.stock-main {
	width: 100%;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: center;
	background-size: cover;
	padding-top: 25px;
	margin-top: 50px;
}

.stock {
	width: 1200px;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.stock-name {
	font-size: 49px;
	font-weight: bold;
	color: #181818;
	margin-bottom: 5px;
}

.stock-text {
	font-size: 22px;
	font-weight: bold;
	color: #000;
	margin-bottom: 15px;
}

.bushnell-main {
	width: 100%;
	display: flex; 
	flex-direction: column;
	align-items: center;
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: center;
	padding-top: 25px;
	padding-bottom: 25px;
	background: url(img/bgs/bg-last.jpg);
	background-size: cover;
}

.bushnell {
	width: 1200px;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-direction: column;
}

.bushnell-name {
	font-size: 47px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 5px;
}

.bushnell-text {
	font-size: 25px;
	font-weight: bold;
	color: red;
	text-align: center;
	margin-bottom: 15px;
}

.bushnell-items {
	margin: 25px 0;
}

.bushnell-item {
	color: #fff;
	font-size: 21px;
}

.bushnell-hit {
	background: #a42915;
	width: 250px;
	height: 50px;
	line-height: 50px;
	color: #fff;
	text-align: center;
	border-radius: 7px;
	-o-border-radius: 7px;
    -ms-border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
	cursor: pointer;
	margin: 50px 0;
}

.over-bushnell {
	width: 1200px;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: center;
}

.bushnell-adds img {
	width: 550px;
	margin-top: 90px;
}

.apogee-main {
	width: 100%;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: center;
	margin-top: 50px;
}

.apogee {
	width: 1200px;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: space-between;
}

.apogee div img {
	width: 400px;
}

.apogee-name {
	font-size: 49px;
	font-weight: bold;
	color: #181818;
	margin-bottom: 5px;
}

.apogee-text {
	font-size: 16px;
	font-weight: bold;
	color: #181818;
	margin-bottom: 16px;
	line-height: 23px;
}

.apogee-block {
	width: 700px;
}

.char-main {
	width: 100%;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: center;
	margin-top: 25px;
	padding-bottom: 10px;
}

.char {
	width: 1200px;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
}
.char-name {
	font-size: 49px;
	font-weight: bold;
	color: #181818;
	margin-bottom: 5px;
	text-align: center;
}

.colorf {
	color: #5e78a2 !important;
	font-weight: bold;
}

.char-text {
	font-size: 20px;
	font-weight: bold;
	color: #000;
	margin-bottom: 16px;
	line-height: 23px;
}
/*background: #247c32;*/
.char-item {
	background: #fff;
	width: 350px;
	height: 50px;
	line-height: 50px;
	padding-left: 15px;
	color: #606060;
	font-weight: bold;
	cursor: pointer;
}

.char-item:first-child {
	background: #247c32;
	color: #fff;
}

.char-content {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
}

.char-item-text {
	font-size: 16px;
	color: #181818;
	font-weight: 600;
}

.char-items-contents {
	margin-left: 25px;
}

.char-item-content {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
	display: none;
}

.char-item-content:first-child {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
}

.work-main {
	width: 100%;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: center;
	padding-top: 50px;
	background: #fff;
	background-size: cover;
	padding-bottom: 50px;
}

.work {
	width: 1200px;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
}
.work-name {
	font-size: 49px;
	font-weight: bold;
	color: #181818;
	margin-bottom: 5px;
	text-align: center;
}

.work-blocks {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.work-item {
	margin-top: 50px;
	width: 350px;
}

.work-cap {
	font-size: 17px;
	font-weight: bold;
}

.work-text {
	font-size: 16px;
	font-weight: bold;
	margin-top: 25px;
}

.fa-check-circle {
	color: #247c34;
	margin-right: 5px;
}

.review-img {
	width: 125px;
	border-radius: 50%;
	-o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin: 0 auto;
}

.slick-prev::before {
    content: url("img/main/arrow-l.png");
}

.slick-next::before {
    content: url("img/main/arrow-r.png");
}

.main-review {
	width: 100%;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: center;
	padding-top: 50px;
	background: url(img/main/olen.jpg);
}

.reviews {
	display: flex;
}

.review {
	width: 1000px;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
}

.review-name {
	font-size: 49px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 10px;
}

.reviews {
	width: 700px;
}

.review-item {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	align-items: center;
	width: 100%;
	height: 100%;
	margin-top: 25px;
	color: #000;
}

.review-comment {
	margin-left: 25px;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
}

.how-main {
	width: 100%;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

.img-def {
	width: 450px;
}

.how {
	width: 1200px;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.how-name {
	font-size: 49px;
	font-weight: bold;
	color: #181818;
	margin-bottom: 5px;
}

.how-text {
	font-size: 22px;
	font-weight: bold;
	color: #000;
}

.how-blocks {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
}

.how-item {
	width: 300px;
	padding: 45px;
	padding-bottom: 15px;
	box-sizing: border-box;
	-o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	background: linear-gradient(to left, #e4e4e4, #f4f4f4);
	-o-background: linear-gradient(to left, #e4e4e4, #f4f4f4);
    -ms-background: linear-gradient(to left, #e4e4e4, #f4f4f4);
    -moz-background: linear-gradient(to left, #e4e4e4, #f4f4f4);
    -webkit-background: linear-gradient(to left, #e4e4e4, #f4f4f4);
	margin-top: 25px;
}

.how-item-name {
	font-size: 23px;
	color: #181818;
	padding: 15px 0;
	font-weight: bold;
}

.how-item-text {
	font-family: Arial;
	font-weight: bold;
	font-style: italic;
	color: #818181;
	margin: 35px 0;
	font-size: 16px;
}

.how-item-desc {
	position: relative;
	font-size: 18px;
	color: #1a1a1a;
	font-weight: bold;
	line-height: 1.4;
	text-align: left;
	margin-top: 15px;
}

.how-item-desc:before {
	content: url(img/main/green-point.png);
	position: absolute;
	top: 0;
	left: -20px;
}

.call-main {
	width: 100%;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: center;
	padding: 75px 0;
	background: url(img/bgs/deer.jpg);
	background-size: cover;
}

.call {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
}

.call-name {
	font-size: 49px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 10px;
	text-align: center;
}

.call-order {
	background: #247c32;
	width: 250px;
	text-align: center;
	line-height: 65px;
	height: 60px;
	border-radius: 7px;
	-o-border-radius: 7px;
    -ms-border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	margin-top: 25px;
	cursor: pointer;
	transition: 0.25s;
	-o-transition: 0.25s;
    -ms-transition: 0.25s;
    -moz-transition: 0.25s;
    -webkit-transition: 0.25s;
}

.call-order:hover {
	background: #5a1112;
}

.present-main {
	width: 100%;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0;
	background: url(img/bgs/present-bg.jpg);
	background-size: cover;
}

.or {
	font-size: 30px;
	color: red;
	text-align: center;
}

.red {
	color: #f61a1f;
}

.upder-r {
	position: relative;
}

.present {
	width: 1250px;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: space-between;
	margin: 0 auto;
}

.present-order {
	background: linear-gradient(to top, #ef9d2b, #f52620);
    -o-background: linear-gradient(to top, #ef9d2b, #f52620);
    -webkit-background: linear-gradient(to top, #ef9d2b, #f52620);
	width: 250px;
	text-align: center;
	line-height: 65px;
	height: 60px;
	border-radius: 7px;
	-o-border-radius: 7px;
    -ms-border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	margin-top: 25px;
	cursor: pointer;
	transition: 0.25s;
}

.present-blocks {
	width: 100%;
	display: flex;
	align-items: center;
}

.present-order:hover {
	background: #5a1112;
}

.present-item {
	width: 600px;
	margin-left: 15px;
	margin-right: 15px;
	text-align: center;
}

.present-item:first-child {
	background: #f5f6ef;
	border-radius: 1px;
	-o-border-radius: 1px;
    -ms-border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
	padding: 25px;
	width: 250px;
}

.present-item-name {
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}

.present-input {
	background: #fff;
	border: 3px #d4d4d4 solid;
	-o-border: 3px #d4d4d4 solid;
    -ms-border: 3px #d4d4d4 solid;
    -moz-border: 3px #d4d4d4 solid;
    -webkit-border: 3px #d4d4d4 solid;
	border-radius: 5px;
	-o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	box-sizing: border-box;
	-o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	padding: 5px;
	width: 100%;
	height: 60px;
	font-size: 20px;
}

.present-input1 {
	background: #fff;
	border: 3px #d4d4d4 solid;
	-o-border: 3px #d4d4d4 solid;
    -ms-border: 3px #d4d4d4 solid;
    -moz-border: 3px #d4d4d4 solid;
    -webkit-border: 3px #d4d4d4 solid;
	border-radius: 5px;
	-o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	box-sizing: border-box;
	-o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	padding: 5px;
	width: 100%;
	height: 60px;
	font-size: 22px;
	margin-bottom: 15px;
}

.present-compliance {
	font-size: 14px;
	color: #8c8c8c;
	margin-left: 5px;
	font-weight: bold;
}

.present-check {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	align-items: flex-start;
	margin-top: 10px;
}

.present-checkbox {
	background: #fff;
	border: 3px #d4d4d4 solid;
	-o-border: 3px #d4d4d4 solid;
    -ms-border: 3px #d4d4d4 solid;
    -moz-border: 3px #d4d4d4 solid;
    -webkit-border: 3px #d4d4d4 solid;
}

.present-time {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: space-between;
	font-size: 52px;
	margin-bottom: 15px;
}

.aim-modal-catalog {
	position: fixed;
	overflow-y: scroll;
	width: 1200px;
	height: 90vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #fff;
	z-index: 10;
	display: none;
}

.price-now {
	font-size: 30px;
	font-weight: bold;
}

.aim-modal-name {
	color: #1a1a1a;
	font-size: 33px;
	font-weight: bold;
	background: #f5f6ef;
	text-align: center;
	padding: 10px 0;
}

.aim-modal-content {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
}

.aim-main-img img {
	width: 450px;
	margin-top: 25px;
}

.aim-imgs {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 450px;
	margin-top: 25px;
	margin-left: 5px;
}

.aim-imgs img {
	width: 100px;
	border: 1px transparent solid;
	-o-border: 1px transparent solid;
    -ms-border: 1px transparent solid;
    -moz-border: 1px transparent solid;
    -webkit-border: 1px transparent solid;
	cursor: pointer;
}

.aim-modal-menu {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
}

.aim-menu-item {
	font-size: 26px;
	font-weight: bold;
	color: #181818;
	margin-right: 10px;
	padding-bottom: 5px;
	border-bottom: 1px gray solid;
	-o-border-bottom: 1px gray solid;
    -ms-border-bottom: 1px gray solid;
    -moz-border-bottom: 1px gray solid;
    -webkit-border-bottom: 1px gray solid;
	cursor: pointer;
	box-sizing: border-box;
	-o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.aim-modal-second {
	margin-top: 25px;
	margin-left: 25px;
}

.blackout {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.75;
	display: none;
}

.close-inf {
	position: absolute;
	top: 10px;
	right: 15px;
	cursor: pointer;
}

.close-inf-e {
	position: absolute;
	bottom: -20px;
	right: 15px;
	cursor: pointer;
}

.aim-menu-item:first-child {
	border-bottom: 3px red solid;
	-o-border-bottom: 3px red solid;
    -ms-border-bottom: 3px red solid;
    -moz-border-bottom: 3px red solid;
    -webkit-border-bottom: 3px red solid;
}

.aim-modal-text {
	margin-top: 25px;
	display: none;
	line-height: 1.4;
}

.aim-el1 {
	border: 1px #247c32 solid;
	-o-border: 1px #247c32 solid;
    -ms-border: 1px #247c32 solid;
    -moz-border: 1px #247c32 solid;
    -webkit-border: 1px #247c32 solid;
}

iframe {
	margin-left: 15px;
}

.modal-text {
	font-size: 15px;
}

.modal-conf {
	position: fixed;
	width: 80%;
	height: 80%;
	top: 5%;
	left: 7.5%;
	background: #fff;
	overflow-y: scroll;
	padding: 50px;
	padding-bottom: 50px;
	border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 5px 10px 5px gray;
	-o-box-shadow: 0px 5px 10px 5px gray;
    -ms-box-shadow: 0px 5px 10px 5px gray;
    -moz-box-shadow: 0px 5px 10px 5px gray;
    -webkit-box-shadow: 0px 5px 10px 5px gray;
	display: none;
	z-index: 10;
}


.modal-sogl {
	position: fixed;
	width: 80%;
	height: 80%;
	top: 5%;
	left: 10%;
	background: #fff;
	overflow-y: scroll;
	padding: 50px;
	padding-bottom: 50px;
	border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 5px 10px 5px gray;
	-o-box-shadow: 0px 5px 10px 5px gray;
    -ms-box-shadow: 0px 5px 10px 5px gray;
    -moz-box-shadow: 0px 5px 10px 5px gray;
    -webkit-box-shadow: 0px 5px 10px 5px gray;
	display: none;
	z-index: 10;
}
.policy_sogl {
	text-decoration: underline;
	cursor: pointer;
}
.policy_conf {
	text-decoration: underline;
	cursor: pointer;
}

.text-under {
	text-decoration: line-through;
	font-size: 22px;
}

.footer {
    display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    justify-content: space-between;
    background: #252525;
    height: 125px;
    font-size: 18px;
    color: #fff;
}

.footer-main {
    display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    justify-content: space-between;
    width: 57%;
    margin-left: 15px;
    margin-top: 15px;
}

.er12 {
	text-align: center;
}

.fa-bars {
	color: #000;
	cursor: pointer;
}

.arrow-top {
	position: fixed;
	bottom: 15px;
	right: 15px;
	background: rgba(0,0,0,0.5);
	padding: 7.5px 13px;
	border-radius: 50%;
	-o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
	cursor: pointer;
	color: #fff;
}

.arrow-top div {
	margin-bottom: 10px;
}

.bars {
	position: fixed;
	top: 10px;
	left: 10px;
	cursor: pointer;
	display: none;
}

.close-modal {
	color: #000;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

.fa-phone {
	margin-right: 5px;
}

.fa-envelope-o {
	margin-right: 5px;
}

.policy_sogl {
	text-decoration: underline;
	cursor: pointer;
}
.policy_conf {
	text-decoration: underline;
	cursor: pointer;
}

@media screen and (max-width: 1200px) {
	.header-main {
		background: rgba(0,0,0,0.5) !important;
		height: 100vh;
		left: -1500px;
		transition: 1s;
	}
	.header {
		flex-direction: column;
		justify-content: space-around;
	}
	.header-item {
		margin-left: 75px;
	}
	.bars {
		display: block;
		z-index: 50;
	}
	.over-bushnell {
		flex-direction: column;
		width: 100%;
		padding-left: 25px;
	}
	.aimstock-blocks {
		justify-content: center;
	}
	.catalog-blocks {
		justify-content: center;
	}
	.catalog-item {
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
	}
	.order-block {
		opacity: 1;
		bottom: -90px;
	}
	.call-order {
		background: #5a1112;
	}
	.apogee {
		width: 100%;
		flex-direction: column;
		align-items: center;
	}
	.apogee-block {
		width: 95%;
	}
	.apogee-name {
		font-size: 32px;
		margin-top: 50px;
	}
	.char-content {
		flex-direction: column;
	}
	.char {
		width: 100%;
	}
	.char-name {
		font-size: 32px;
	}
	.char-text {
		text-align: center;
	}
	.review-item {
		flex-direction: column;
	}
	.review {
		width: 100%;
	}
	.review-item {
		width: 100%;
	}
	.work-blocks {
		text-align: center;
	}
	.work {
		width: 100%;
	}
	.how-blocks {
		flex-direction: column;
	}
	.footer-main {
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.footer {
		justify-content: center;
	}
	.call-name {
		font-size: 32px;
	}
	.work-item {
		width: 100%;
	}
	.work-name {
		font-size: 32px;
	}
	.char-item {
		width: 100%;
	}
	.apogee div img {
		width: 100%;
	}
	.bushnell {
		width: 100%;
	}
	.bushnell-adds img {
		width: 95%;
	}
	.stock {
		width: 100%;
	}
	.stock-name {
		font-size: 32px;
	}
	.stock-text {
		width: 75%;
	}
	.aimstock {
		width: 100%;
	}
	.aimstock-name {
		font-size: 32px;
	}
	.aimstock-item {
		width: 100%;
	}
	.review-comment {
		text-align: center;
		margin-left: 0;
	}
	.aim-modal-catalog {
		width: 95%;
	}
}

@media screen and (max-width: 800px) {
	.aim-over-main-img {
		width: 300px !important;
	}
	.aim-main-img {
		width: 100%;
	}
	.aim-modal-first {
		width: 400px;
	}
	.aim-modal-text {
		font-size: 14px;
		width: 50%;
	}
	.aim-imgs img {
		width: 80px;
	}
	.aim-imgs {
		width: 100%;
	}
	.aim-modal-text {
		height: 70vh;
		overflow-y: scroll;
		width: 100%;
	}
	.aim-modal-second {
		width: 50%;
	}
}

@media screen and (max-width: 750px) {
	.aim-modal-content {
		flex-direction: column;
	}
	.aim-modal-catalog {
		height: 95vh;
		overflow-y: scroll;
	}
	.aim-modal-first {
		width: 95%;
	}
	.aim-modal-second {
		width: 95%;
		margin: 10px 0 0 10px;
	}
	.aim-main-img {
		display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
		justify-content: center;
	}
}

.desc-present-main {
	width: 100%;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: center;
	padding: 75px 0;
	background:  #fff;
	background-size: cover;
}

.desc-present {
	width: 1400px;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
}

.desc-name {
	font-size: 47px;
	font-weight: bold;
	color: red;
	text-align: center;
}

.desc-text {
	font-size: 22px;
	font-weight: bold;
	color: #fff;
}

.tes1 {
	margin-top: 35px;
}

.desc-desc {
	font-size: 18px;
	font-weight: bold;
	color: #fff;
}

.desc-present-blocks {
	display: flex;
	align-items: center;
}

.present-img {
	width: 75%;
}

.main-benefit {
	width: 100%;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: center;
}

.benefit {
	width: 1000px;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
	padding: 15px 0 35px 0;
}

.benefit-name {
	color: #353535;
	font-size: 35px;
	margin-top: 50px;
	text-align: center;
}

.benefit-desc {
	color: #353535;
	font-weight: bold;
	font-size: 18px;
}

.benefit-item {
	text-align: center;
	width: 350px;
	margin-top: 25px;
}

.benefits {
	width: 100%;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.benefit-desc-lvl2 {
	color: #3c3a3a;
	font-size: 21px;
}

.give-order {
	display: flex;
	justify-content: center;
}

.give {
	width: 750px;
	display: flex;
	justify-content: space-between;
}

.input-give {
    height: 40px;
    font-size: 17px;
    padding: 0 25px;
    text-align: center;
}

.order-btn {
	background: linear-gradient(to top, #ef9d2b, #f52620);
    -o-background: linear-gradient(to top, #ef9d2b, #f52620);
    -webkit-background: linear-gradient(to top, #ef9d2b, #f52620);
    color: #fff;
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
    height: 40px;
    text-align: center;
    width: 200px;
    cursor: pointer;
}

.order-item {
	background: linear-gradient(to top, #ef9d2b, #f52620);
    -o-background: linear-gradient(to top, #ef9d2b, #f52620);
    -webkit-background: linear-gradient(to top, #ef9d2b, #f52620);
    color: #fff;
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
    height: 40px;
    text-align: center;
    width: 200px;
    cursor: pointer;
}

.photos {
	width: 100%;
	display: flex;
}

.photo img {
	width: 150px !important;
	margin: 3px;
	border-radius: 5px;
}

.add-review {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.add-review-input {
	width: 350px;
	background: transparent;
	color: #fff;
	padding: 7px;
	border-radius: 7px;
	border: 3px #fff solid;
	outline: none;
	font-size: 20px;
}


.add-review-textarea {
	width: 350px;
	height: 100px;
	background: transparent;
	resize: none;
	color: #fff;
	padding: 7px;
	border-radius: 7px;
	border: 3px #fff solid;
	outline: none;
	font-size: 20px;
	margin-top: 15px;
}

.order-item {
	background: linear-gradient(to top, #ef9d2b, #f52620);
    -o-background: linear-gradient(to top, #ef9d2b, #f52620);
    -webkit-background: linear-gradient(to top, #ef9d2b, #f52620);
    color: #fff;
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
    height: 40px;
    text-align: center;
    width: 200px;
    cursor: pointer;
}

.send-review {
	background: linear-gradient(to top, #ef9d2b, #f52620);
    -o-background: linear-gradient(to top, #ef9d2b, #f52620);
    -webkit-background: linear-gradient(to top, #ef9d2b, #f52620);
    color: #fff;
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
    height: 40px;
    text-align: center;
    width: 200px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
}

.answer-main {
	width: 100%;
	display: flex; 
	flex-direction: column;
	align-items: center;
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: center;
	padding-bottom: 25px;
	background: #fff;
	background-size: cover;
}

.answer {
	width: 1200px;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-direction: column;
}

.answer-name {
	font-size: 47px;
	font-weight: bold;
	color: #181818;
	margin-bottom: 5px;
	text-align: center;
}

.answer-text {
	font-size: 28px;
	font-weight: bold;
	color: red;
	text-align: center;
	margin-bottom: 15px;
	text-align: left;
	margin-left: 75px;
	margin-top: 15px;
}

.text-author {
	position: relative;
	font-size: 22px;
	color: #000;
	margin-top: 25px;
}

.text-author:before {
	content: url('img/main/question.png');
	position: absolute;
	top: -5px;
	left: -45px;
}

.text-buyer {
	font-size: 17px;
	color: #000;
	font-family: Arial;
	font-style: italic;
	margin-top: 15px;
}

.answer-content {
	display: flex;
}

.arrow-right {
	position: fixed;
	top: 50%;
	right: 35px;
	z-index: 15;
	cursor: pointer;
	display: none;
	z-index: 50;
}
.arrow-left {
	position: fixed;
	top: 50%;
	left: 35px;
	z-index: 15;
	cursor: pointer;
	display: none;
	z-index: 50;
}

.adds-police {
	margin-bottom: 50px;
}

.aim-modal-catalog-relative {
	position: relative;
}

.modal-order-btn {
	background: linear-gradient(to top, #ef9d2b, #f52620);
    -o-background: linear-gradient(to top, #ef9d2b, #f52620);
    -webkit-background: linear-gradient(to top, #ef9d2b, #f52620);
    color: #fff;
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
    height: 40px;
    text-align: center;
    width: 200px;
    cursor: pointer;
    margin-top: 15px;
}

.modal-order {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #b2b2b2;
	z-index: 50;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 200px;
	width: 275px;
	border-radius: 7px;
	display: none;
}

.ft1 {
	font-size: 28px !important;
}

.close-modal-window {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

.input-order {
	height: 30px;
	width: 200px;
	font-size: 22px;
	border-radius: 7px;
	margin-top: 15px;
	outline: none;
	padding: 7px;
}