body {
	overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #fff;
}

.main-header {
	padding-top: 75px;
	width: 100%;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: center;
	background: linear-gradient(to top, #505051, #f0f0f0);
	-o-background: linear-gradient(to top, #505051, #f0f0f0);
	-webkit-background: linear-gradient(to top, #505051, #f0f0f0);
}

.header {
	width: 1050px;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
}

.show {
	left: 0 !important;
}

.header-top {
	top: 0;
	position: fixed;
	width: 100%;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: center;
	transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;

}

.header-item-info {
	padding: 10px;
	font-size: 22px;
	cursor: pointer;
}

.header-name {
	font-weight: bold;
	font-size: 37px;
	color: #353535;
	text-align: center;
}

b {
	color: #ff0000;
}

.header-desc {
	width: 100%;
	color: #f7d026;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	background: rgba(0,0,0,0.5);
	height: 35px;
	line-height: 35px;
	margin-top: -5px;
}

.header-blocks {
	width: 100%;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding-bottom: 35px;
}

.header-item {
	margin-top: 35px;
	cursor: pointer;
}

.header-img {
	width: 270px;
}

.header-text {
	font-size: 27px;
	color: #323232;
}

.main-edge {
	width: 100%;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: center;
	background: url(img/bg10.jpg);
	background-size: cover;
}

.edge {
	width: 800px;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
	padding: 15px 0 35px 0;
}

@media screen and (max-width: 1400px) {
	.main-edge {
		justify-content: flex-end;
	}
	.edge {
		margin-right: 50px;
	}
}

.edge-name {
	color: #fff;
	font-size: 29px;
	font-weight: bold;
	text-align: center;
}

.edge-desc {
	color: #fff;
	font-weight: bold;
}

.edge-item {
	text-align: center;
	width: 250px;
	margin-top: 25px;
}

.edges {
	width: 100%;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.main-benefit {
	width: 100%;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: center;
}

.benefit {
	width: 1000px;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
	padding: 15px 0 35px 0;
}

.benefit-name {
	color: #353535;
	font-size: 35px;
	margin-top: 50px;
	text-align: center;
}

.benefit-desc {
	color: #353535;
	font-weight: bold;
	font-size: 18px;
}

.benefit-item {
	text-align: center;
	width: 300px;
	margin-top: 25px;
}

.benefits {
	width: 100%;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.benefit-desc-lvl2 {
	color: #3c3a3a;
	font-size: 21px;
}

.main-work {
	width: 100%;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: center;
}

.work {
	width: 1000px;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
	padding: 15px 0 35px 0;
}

.work-name {
	color: #353535;
	font-size: 35px;
	text-align: center;
}

.work-img {
	width: 80%;
	margin-top: 25px;
}

.binocular {
	margin-top: 25px;
}

.main-binoculars {
	width: 100%;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: center;
	padding-bottom: 25px; 
}

.binoculars {
	width: 1300px;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
}

.binoculars-name {
	font-size: 32px;
	color: #000;
	padding: 15px 0;
	text-align: center;
}

.bin-parts {
	width: 100%;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: space-between;
}

.bin-part {
	width: 30%;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-direction: column;
	justify-content: space-between;
}

.bin-name {
	font-size: 32px;
	text-align: center;
	margin: 15px 0;
	text-align: center;
}

.other-imgs {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
}

.other-div {
	width: 20%;
}

.other-img {
	width: 100%;
	box-sizing: border-box;
	-o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	cursor: pointer;
}

.edge-img {
	border-radius: 50%;
	-o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.over-img {
	width: 100%;
	transition: 0.5s;
	-o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
}

ul {
	font-size: 14px;
	color: #000;
	font-weight: bold;
	margin-bottom: 10px;
}

li {
	font-size: 15px;
	color: #000;
	margin-left: 20px;
	font-weight: normal;
	margin-top: 2px;
}

.old-price {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	font-size: 17px;
	font-weight: bold;
}

.new-price {
	font-size: 17px;
	margin-bottom: 15px;
}

.input-name {
	width: 100%;
	height: 40px;
	font-size: 13px;
	padding: 0 25px;
	box-sizing: border-box;
	-o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	margin-bottom: 10px;
}

.input-tel {
	width: 100%;
	height: 40px;
	font-size: 13px;
	padding: 0 25px;
	box-sizing: border-box;
	-o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	margin-bottom: 10px;
}

.order {
	background: linear-gradient(to top, #ef9d2b, #f52620);
	-o-background: linear-gradient(to top, #ef9d2b, #f52620);
    -webkit-background: linear-gradient(to top, #ef9d2b, #f52620);
	color: #fff;
	line-height: 40px;
	font-weight: bold;
	font-size: 20px;
	height: 40px;
	text-align: center;
	cursor: pointer;
}

.footer {
    display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    justify-content: space-between;
    background: #252525;
    height: 125px;
    font-size: 18px;
    color: #fff;
}

.footer-main {
    display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    justify-content: space-between;
    width: 57%;
    margin-left: 15px;
    margin-top: 15px;
}

.er12 {
	text-align: center;
}

.modal-conf {
	position: fixed;
	width: 80%;
	height: 80%;
	top: 5%;
	left: 7.5%;
	background: #fff;
	overflow-y: scroll;
	padding: 50px;
	border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 5px 10px 5px gray;
	-o-box-shadow: 0px 5px 10px 5px gray;
    -ms-box-shadow: 0px 5px 10px 5px gray;
    -moz-box-shadow: 0px 5px 10px 5px gray;
    -webkit-box-shadow: 0px 5px 10px 5px gray;
	display: none;
	z-index: 10;
}


.modal-sogl {
	position: fixed;
	width: 80%;
	height: 80%;
	top: 5%;
	left: 10%;
	background: #fff;
	overflow-y: scroll;
	padding: 50px;
	border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 5px 10px 5px gray;
	-o-box-shadow: 0px 5px 10px 5px gray;
    -ms-box-shadow: 0px 5px 10px 5px gray;
    -moz-box-shadow: 0px 5px 10px 5px gray;
    -webkit-box-shadow: 0px 5px 10px 5px gray;
	display: none;
	z-index: 10;
}

.blackout {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #000;
	opacity: 0.75;
	z-index: 5;
}

.policy_sogl {
	text-decoration: underline;
	cursor: pointer;
}
.policy_conf {
	text-decoration: underline;
	cursor: pointer;
}

.text-under {
	text-decoration: line-through;
	font-size: 20px;
}

.main-pay {
	width: 100%;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: center;
}

.pay {
	width: 1000px;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
	padding: 15px 0 35px 0;
}

.pay-name {
	color: #353535;
	font-size: 35px;
	margin-top: 50px;
	text-align: center;
}

.pay-desc {
	color: #2692ff;
	font-weight: bold;
	font-size: 22px;
}

.pay-item {
	text-align: center;
	width: 300px;
	margin-top: 25px;
}

.pays {
	width: 100%;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.pay-desc-lvl2 {
	color: #000;
	font-size: 16px;
}

.review-img {
	width: 125px;
	border-radius: 50%;
	-o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.main-review {
	width: 100%;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: center;
	background: url(img/bg9.jpg);
	background-size: cover;
	padding-bottom: 50px;
}

.review {
	width: 1000px;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
}

.review-name {
	color: #fff;
	font-size: 35px;
	margin-top: 15px;
	text-align: center;
}

.review-item {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	align-items: center;
	width: 700px;
	margin-top: 25px;
	color: #fff;
}

.review-comment {
	margin-left: 25px;
}

.main-structure {
	width: 100%;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: center;
	background-size: cover;
	padding-bottom: 50px;
}

.structure {
	width: 1200px;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
}

.structure-name {
	font-size: 35px;
	margin-top: 15px;
	text-align: center;
}

.structure-item {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	width: 100%;
	margin-top: 25px;
}

.structure-img {
	width: 350px;
}

.structure-comment {
	margin-left: 25px;
}

.main-name {
	color: #2f4da2;
	font-weight: bold;
}

.structure-text {
	margin-left: 25px;
	font-size: 18px;
}

.structure-bold {
	font-weight: bold;
	display: inline;
}

.fa {
	color: #fff;
}

.arrow-top {
	position: fixed;
	bottom: 15px;
	right: 15px;
	background: rgba(0,0,0,0.5);
	padding: 15px 20px;
	border-radius: 50%;
	cursor: pointer;
}

.arrow-top div {
	margin-bottom: 10px;
}

.fsbold {
	font-size: 22px;
	display: inline-block;
	color: red;
	font-weight: bold;
}

.fa-close {
	color: #000;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

.bars {
	position: fixed;
	top: 10px;
	left: 10px;
	cursor: pointer;
	display: none;
}

.fa-bars {
	color: #000;
	cursor: pointer;
}

@media screen and (max-width: 1200px) {
	.header-top {
		flex-direction: column;
		background: rgba(0,0,0,0.5) !important;
		left: -1500px;
		padding-top: 50px;
	}
	.header-blocks {
		align-items: center;
	}
	.header-item {
		margin-left: auto;
		margin-right: auto;
	}
	.edge-item {
		margin-left: auto;
		margin-right: auto;
	}
	.edge {
		width: 100%;
		margin-right: 0;
	}
	.bin-parts {
		flex-direction: column;
	}
	.bin-part {
		width: 100%;
	}
	.structure-item {
		flex-direction: column;
		align-items: center;
	}
	.review-item {
		width: 100%;
	}
	.footer-main {
		flex-direction: column;
		text-align: center;
	}
	.footer {
		display: flex;
		justify-content: center;
		height: auto;
		padding-bottom: 5px; 
	}
	.bars {
		display: block;
	}
	.modal-conf {
		width: 100%;
	}
	.modal-sogl {
		width: 100%;
	}
}